@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
  --bg-color: linear-gradient(252.44deg, #D3AB9E 0%, #EAC9C1 50%, #EBD8D0 100%);
  --text-color: #000;
  --nav-bg: #FFFBFF;
}
a{
  text-decoration: none;
  color: var(--text-color);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  background: var(--bg-color);
  font-family: 'Lato', sans-serif;
  height: 100%;
}
ul{
  list-style: none;
}
#page-wrapper{
  position: relative;
}

#header{
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  background-color: var(--nav-bg);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo>span>p{
  font-weight: bold;
  font-size: 20pt;
}
.fa-solid,
.fa-brands{
  color: rgb(255, 0, 0);
  font-size: 35pt;
}
nav{
  font-weight: 700;
}
nav ul{
  display: flex;
  flex-direction: row;
  gap: 100px;
  font-size: 13pt;
  justify-content: space-around;
}
li>a{
  transition: all 0.3s ease-in-out;
}
li>a:hover{
  color:#D3AB9E;
}

#main-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0;
  font-size: 15pt;
}
#main-info>main>p{
  margin-top: 1.5em;
}
#main-info>main>p:nth-last-child(2){
  margin-bottom: 0;
}

#video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
iframe{
  width: 40vw;
  height: 45vh;
}

.form-container>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 20pt;
}
.form-container>form>input{
  width: 200px;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #000;
  margin: 10px 0;
  font-size: 12pt;
}
input[type="email"]:focus{
  outline: none;
}
input[type="email"]::placeholder{
  color: #000;
  text-align: center;
}
.form-container>form>button{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: #FFFBFF;
  color: #000;
  font-size: 12pt;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-container>form>button:hover{
  background: #D3AB9E;
  color: #000;
}

#Prices{
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.bedroom{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 10px;
}
.bedroom>div>h1{
  padding: 15px 0;
  font-size: 18pt;
}
.bedroom>button{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: #FFFBFF;
  color: #000;
  font-size: 12pt;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}
.bedroom>button:hover{
  background: #D3AB9E;
  color: #000;
}
.bedroom>h2{
  font-size: 20pt;
  margin: 12px 0;
}
.bedroom>ul>li{
  font-size: 15pt;
  margin: 20px 0;
}
.upBg{
  background: var(--nav-bg);
  width: 100%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media only screen and (max-width: 970px) {
  #header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
  }
  #header>div{
    margin: 10px 0;
  }
  #header>div>a{
    margin: 0;
  }
  .fa-solid,
  .fa-brands {
    font-size: 25pt;
  }
  #main-info{
    margin: 110px 0;
  }
  #main-info>main>p{
    margin-top: 20px;
    font-size: 10pt;
  }
  #main-info>main>p:nth-last-child(2){
    margin-bottom: 0;
  }
  #video{
    margin: 50px 0;
  }
  iframe{
    width: 400px;
    height: 200px;
  }
  .form-container>form{
    margin-top: 0;
  }
  .form-container>form>input{
    font-size: 10pt;
    width: 150px;
  }
  .form-container>form>button{
    width: 100px;
  }
  #Prices{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .bedroom>div>h1{
    font-size: 15pt;
  }
  .bedroom>h2{
    font-size: 12pt;
  }
  .bedroom>button{
    font-size: 10pt;
  }
  .bedroom>ul>li{
    font-size: 10pt;
  }
}